-r requirements.txt
homeassistant==2024.3.3
pytest==8.4.0
pytest-cov==6.1.1
pytest-timeout==2.4.0
pytest-asyncio==1.0.0
pytest-mock
flake8>=6.1.0
pylint==3.3.7
pylint-per-file-ignores==1.4.0
aiofiles==23.2.1
